# 패키지 로딩

In [1]:
from google.colab import drive
drive.mount('/content/gdrive') 
import numpy as np
import pandas as pd

Mounted at /content/gdrive

# DATA_JOIN_OPTIME 생성

In [3]:
DATA=pd.read_csv('/content/gdrive/MyDrive/DB/DATA.csv')
OPTIME=pd.read_csv('/content/gdrive/MyDrive/DB/OPTIME.csv')
DATA['KEY'] = DATA['SHIP_ID'] + "_" + DATA['SECTION'].astype(str) + "_" + DATA['OP_INDEX'].astype(str)
OPTIME['KEY'] = OPTIME['SHIP_ID'] + "_" + OPTIME['SECTION'].astype(str) + "_" + OPTIME['OP_INDEX'].astype(str)
DATA_JOIN_OPTIME = pd.merge(DATA,OPTIME,how = 'left', on = 'KEY')
DATA_JOIN_OPTIME = DATA_JOIN_OPTIME.drop(columns = ['SHIP_ID_y', 'SYSTEM_y', 'OP_INDEX_y','SECTION_y'])
DATA_JOIN_OPTIME = DATA_JOIN_OPTIME.drop(columns = ['KEY'])
DATA_JOIN_OPTIME=DATA_JOIN_OPTIME.rename(columns = {'OP_INDEX_x' : 'OP_INDEX', 'SHIP_ID_x' : 'SHIP_ID', 'SYSTEM_x' : 'SYSTEM', 'SECTION_x' : 'SECTION'})

# OPTIME별 DATA_INDEX의 분포

In [10]:
DATA_JOIN_OPTIME

,OP_INDEX,DATA_INDEX,DATA_TIME,CSU,STS,FTS,FMU,TRO,ANU,RATE,...,ALARM_COUNT,FAULT_COUNT,FAULT_CODE,VOYAGE,TOTAL_POWER,FILE_INDEX,MODE,REGION_ID,STATE,KEY
0,1,1,2020-07-09 01:50:34,44.80,0.00,0.00,488.36,0.00,0.0,-1.0,...,NaN,NaN,NaN,NaN,-0.044167,NaN,NaN,34179.0,NaN,T140110-00206_0_1
1,1,1,2018-03-14 09:58:58,33.55,10.21,37.16,3293.63,0.00,0.0,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34379.0,NaN,T140113-00101_0_1
2,1,1,2020-05-04 02:45:02,45.31,0.00,36.07,3136.53,0.00,0.0,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34379.0,NaN,T140113-00102_0_1
3,1,1,2021-05-29 04:26:42,0.00,0.00,0.00,3524.26,0.00,2400.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32347.0,NaN,T140113-00103_0_1
4,1,1,2021-08-12 10:42:54,45.42,26.95,28.02,2712.63,0.00,0.0,1.0,...,2.0,0.0,NaN,NaN,82.325333,NaN,NaN,34379.0,NaN,T140113-00104_0_1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
583067,1075,15,2021-03-04 03:48:51,35.72,0.00,31.84,629.44,0.47,0.0,-1.0,...,1.0,1.0,200.0,NaN,NaN,NaN,NaN,31131.0,NaN,T140128-00703_0_1075
583068,1075,16,2021-03-04 03:49:51,35.70,0.00,31.86,630.25,0.47,0.0,-1.0,...,1.0,1.0,200.0,NaN,NaN,NaN,NaN,31131.0,NaN,T140128-00703_0_1075
583069,1075,17,2021-03-04 03:50:51,35.69,0.00,31.83,633.15,0.47,0.0,-1.0,...,1.0,1.0,200.0,NaN,NaN,NaN,NaN,31131.0,NaN,T140128-00703_0_1075
583070,1075,18,2021-03-04 03:51:51,35.68,0.00,31.86,629.84,0.47,0.0,-1.0,...,1.0,1.0,200.0,NaN,NaN,NaN,NaN,31131.0,NaN,T140128-00703_0_1075
583071,1075,19,2021-03-04 03:52:51,35.68,0.00,31.85,630.79,0.47,0.0,-1.0,...,1.0,1.0,200.0,NaN,NaN,NaN,NaN,31131.0,NaN,T140128-00703_0_1075

In [9]:
DATA_JOIN_OPTIME['KEY'] = DATA_JOIN_OPTIME['SHIP_ID'] + "_" + DATA_JOIN_OPTIME['SECTION'].astype(str) + "_" + DATA_JOIN_OPTIME['OP_INDEX'].astype(str)

In [12]:
df=pd.DataFrame({'SHIP_ID/SECTION/OP_INDEX' :OPTIME['KEY'], 'DATA_INDEX' : np.zeros(10341)})

In [17]:
for i in range(len(OPTIME['KEY'])) :
  index = DATA_JOIN_OPTIME.loc[OPTIME['KEY'][i] == DATA_JOIN_OPTIME['KEY'],'DATA_INDEX']
  index=index.astype(int)
  index=index.astype(str)
  index=' , '.join(index)
  df.iloc[i,1] = index

DATA_INDEX_BY_OPTIME=df

In [18]:
DATA_INDEX_BY_OPTIME

,SHIP_ID/SECTION/OP_INDEX,DATA_INDEX
0,T140110-00206_0_1,"1 , 2 , 3"
1,T140113-00101_0_1,"1 , 2 , 3 , 4 , 5 , 6 , 7 , 8 , 9 , 10 , 11 , ..."
2,T140113-00102_0_1,1
3,T140113-00103_0_1,"1 , 2"
4,T140113-00104_0_1,"1 , 2 , 3 , 4 , 5 , 6 , 7 , 8 , 9 , 10 , 11 , ..."
...,...,...
10336,T140128-00703_0_1071,1
10337,T140128-00703_0_1072,"1 , 2 , 3 , 4 , 5 , 6 , 7 , 8"
10338,T140128-00703_0_1073,"1 , 2 , 3 , 4 , 5 , 6 , 7 , 8 , 9 , 10 , 11 , ..."
10339,T140128-00703_0_1074,"1 , 2 , 3 , 4 , 5 , 6 , 7 , 8 , 9 , 10 , 11 , ..."
10340,T140128-00703_0_1075,"1 , 2 , 3 , 4 , 5 , 6 , 7 , 8 , 9 , 10 , 11 , ..."

SHIP_ID, SECTION, OP_INDEX를 하나의 KEY값으로 볼 때, DATA_INDEX가 위와같이 분포한다는 사실을 알 수 있음

# 생성코드

- 생성을 시킬 시, DATA_JOIN_OPTIME이 선행적으로 필요함

In [ ]:
DATA_JOIN_OPTIME['KEY'] = DATA_JOIN_OPTIME['SHIP_ID'] + "_" + DATA_JOIN_OPTIME['SECTION'].astype(str) + "_" + DATA_JOIN_OPTIME['OP_INDEX'].astype(str)
df=pd.DataFrame({'SHIP_ID/SECTION/OP_INDEX' :OPTIME['KEY'], 'DATA_INDEX' : np.zeros(10341)})
for i in range(len(OPTIME['KEY'])) :
  index = DATA_JOIN_OPTIME.loc[OPTIME['KEY'][i] == DATA_JOIN_OPTIME['KEY'],'DATA_INDEX']
  index=index.astype(int)
  index=index.astype(str)
  index=' , '.join(index)
  df.iloc[i,1] = index

DATA_INDEX_BY_OPTIME=df