# 파일과 패키지 로딩

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
EVENT = pd.read_csv('/content/gdrive/MyDrive/DB/EVENT.csv')
OPTIME = pd.read_csv('/content/gdrive/MyDrive/DB/OPTIME.csv')
OPTIME_EVENT = pd.read_csv('/content/gdrive/MyDrive/DB/OPTIME_EVENT.csv')

- 파일의 경로와 이름을 변경해줄 것

# 테이블

In [ ]:
EVENT

,SHIP_ID,SYSTEM,EVENT_INDEX,TAG_NAME,DEVICE_NAME,OCCUR_TIME,M_CODE,ERR_CODE,DESCRIPT,VALUE,LOG_LEVEL,ACK_TIME,RESET_TIME,ISCLEAR,SIMUL,FILE_INDEX,SECTION
0,T140110-00206,0,1,OV1,NaN,2002-01-01 00:00:53,50.0,0,"Valve Opened.[BA401, NO.1 OVBD]",0.0,0,NaN,NaN,0,0,NaN,0
1,T140113-00101,0,1,NaN,ECS,2016-09-08 11:31:31,0.0,0,ECS HMI Power On.,0.0,0,NaN,NaN,0,0,NaN,0
2,T140113-00102,0,1,OV3,NaN,2020-05-04 02:43:54,50.0,0,"Valve Opened.[27V, No3. OVERBOARD VALVE]",0.0,0,NaN,NaN,0,0,NaN,0
3,T140113-00103,0,1,NaN,ECS,2021-05-28 04:22:44,0.0,0,ECS HMI Power On.[REMOTE],0.0,0,NaN,NaN,0,0,NaN,0
4,T140113-00104,0,1,NaN,ECS,2021-06-25 11:04:41,0.0,0,ECS HMI Power On.,0.0,0,NaN,NaN,0,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354529,T20180208001,0,74219,NaN,REC3,2022-02-11 23:13:51,11.0,0,ECS Device Stop.,0.0,0,NaN,NaN,0,0,1116.0,0
354530,T20180208001,0,74220,STANDBYFAIL,NaN,2022-02-11 23:14:04,732.0,731,[CODE731]Abnormal stopped due to Valve condition.,1.0,1,2022-02-11 23:14:11,2022-02-11 23:26:39,1,0,1116.0,0
354531,T20180208001,0,74221,PUMP1,NaN,2022-02-11 23:24:18,53.0,0,"Pump Stop.[B.P1, NO.1 BALLAST PUMP]",0.0,0,NaN,NaN,0,0,1116.0,0
354532,T20180208001,0,74222,VV4,NaN,2022-02-11 23:25:25,51.0,0,"Valve Closed.[BA208, NO.4 BYPASS VV]",0.0,0,NaN,NaN,0,0,1116.0,0
354533,T20180208001,0,74223,OV1,NaN,2022-02-11 23:25:29,51.0,0,"Valve Closed.[BA225, NO.1 OVBD VV]",0.0,0,NaN,NaN,0,0,1116.0,0

In [ ]:
OPTIME

,SHIP_ID,SYSTEM,OP_INDEX,OP_TYPE,LINE,START_TIME,END_TIME,RUNNING_TIME,VOLUME,TRO_AVG,...,ALARM_COUNT,FAULT_COUNT,FAULT_CODE,VOYAGE,TOTAL_POWER,FILE_INDEX,MODE,SECTION,REGION_ID,STATE
0,T140110-00206,0,1,1,2,2020-07-09 01:50:34,2020-07-09 01:53:13,159,16,0.000000,...,NaN,NaN,NaN,NaN,-0.044167,NaN,NaN,0,34179.0,NaN
1,T140113-00101,0,1,1,1,2018-03-14 09:58:48,2018-03-14 10:13:32,884,727,0.015000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,34379.0,NaN
2,T140113-00102,0,1,1,1,2020-05-04 02:45:02,2020-05-04 02:45:13,11,0,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,34379.0,NaN
3,T140113-00103,0,1,2,2,2021-05-29 04:25:54,2021-05-29 04:27:55,121,117,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,32347.0,NaN
4,T140113-00104,0,1,1,1,2021-08-12 10:41:53,2021-08-12 10:57:01,908,672,0.120000,...,2.0,0.0,NaN,NaN,82.325333,NaN,NaN,0,34379.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10336,T140128-00703,0,1071,1,1,2021-02-26 07:09:26,2021-02-26 07:10:23,57,2,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN
10337,T140128-00703,0,1072,1,1,2021-02-26 07:10:35,2021-02-26 07:17:52,437,82,0.000000,...,1.0,0.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN
10338,T140128-00703,0,1073,1,1,2021-02-26 07:41:03,2021-02-26 08:00:06,1143,229,0.960909,...,1.0,1.0,200.0,NaN,NaN,NaN,NaN,0,NaN,NaN
10339,T140128-00703,0,1074,1,2,2021-02-26 08:21:09,2021-02-26 08:40:18,1149,233,0.050000,...,2.0,0.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN
10340,T140128-00703,0,1075,1,1,2021-03-04 03:34:51,2021-03-04 03:52:52,1081,181,0.282000,...,1.0,1.0,200.0,NaN,NaN,NaN,NaN,0,31131.0,NaN

In [ ]:
OPTIME_EVENT

              SHIP_ID  OP_INDEX  EVENT_INDEX  SYSTEM  SECTION
0       T170102-00101         1            5       0        0
1        T20190115004         1            5       0        0
2        T20190115004         2            5       0        0
3       T170102-00101         1            6       0        0
4        T20190115004         1            6       0        0
...               ...       ...          ...     ...      ...
312805   T20180208001       880        74200       0        0
312806   T20180208001       881        74204       0        0
312807   T20180208001       881        74206       0        0
312808   T20180208001       881        74207       0        0
312809   T20180208001       881        74208       0        0

[312810 rows x 5 columns]

# KEY 부여

- SECTION과 EVENT_INDEX를 STRING으로 변경시켜야 KEY 값을 만들 수 있다는 것에 유의할 것

In [ ]:
EVENT['SECTION']=EVENT['SECTION'].astype('str')
EVENT['EVENT_INDEX'] = EVENT['EVENT_INDEX'].astype('str')

In [ ]:
OPTIME_EVENT['SECTION']=OPTIME_EVENT['SECTION'].astype('str')
OPTIME_EVENT['EVENT_INDEX'] = OPTIME_EVENT['EVENT_INDEX'].astype('str')

In [ ]:
EVENT['KEY']=EVENT['SHIP_ID']+"_"+ EVENT['SECTION']+"_"+ EVENT['EVENT_INDEX']
EVENT['KEY']

0            T140110-00206_0_1
1            T140113-00101_0_1
2            T140113-00102_0_1
3            T140113-00103_0_1
4            T140113-00104_0_1
                  ...
354529    T20180208001_0_74219
354530    T20180208001_0_74220
354531    T20180208001_0_74221
354532    T20180208001_0_74222
354533    T20180208001_0_74223
Name: KEY, Length: 354534, dtype: object

In [ ]:
OPTIME_EVENT['KEY']=OPTIME_EVENT['SHIP_ID']+"_"+ OPTIME_EVENT['SECTION']+"_"+ OPTIME_EVENT['EVENT_INDEX']
OPTIME_EVENT['KEY']

0            T170102-00101_0_5
1             T20190115004_0_5
2             T20190115004_0_5
3            T170102-00101_0_6
4             T20190115004_0_6
                  ...
312805    T20180208001_0_74200
312806    T20180208001_0_74204
312807    T20180208001_0_74206
312808    T20180208001_0_74207
312809    T20180208001_0_74208
Name: KEY, Length: 312810, dtype: object

# 테이블 병합

In [ ]:
EVENT_JOIN_OPTIME_EVENT = pd.merge(EVENT, OPTIME_EVENT, how = "inner", on = "KEY")

In [ ]:
EVENT_JOIN_OPTIME_EVENT.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 312810 entries, 0 to 312809
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   SHIP_ID_x      312810 non-null  object
 1   SYSTEM_x       312810 non-null  int64
 2   EVENT_INDEX_x  312810 non-null  object
 3   TAG_NAME       24920 non-null   object
 4   DEVICE_NAME    271657 non-null  object
 5   OCCUR_TIME     312810 non-null  object
 6   M_CODE         311319 non-null  float64
 7   ERR_CODE       312810 non-null  int64
 8   DESCRIPT       312810 non-null  object
 9   VALUE          312810 non-null  float64
 10  LOG_LEVEL      312810 non-null  int64
 11  ACK_TIME       8114 non-null    object
 12  RESET_TIME     8461 non-null    object
 13  ISCLEAR        312810 non-null  int64
 14  SIMUL          312810 non-null  int64
 15  FILE_INDEX     4381 non-null    float64
 16  SECTION_x      312810 non-null  object
 17  KEY            312810 non-null  object
 18  SHIP_ID_y      312810 non-null  object
 19  OP_INDEX       312810 non-null  int64
 20  EVENT_INDEX_y  312810 non-null  object
 21  SYSTEM_y       312810 non-null  int64
 22  SECTION_y      312810 non-null  object
dtypes: float64(3), int64(7), object(13)
memory usage: 57.3+ MB

# 필요없는 열 제거

In [ ]:
EVENT_JOIN_OPTIME_EVENT.drop(columns = ["SHIP_ID_x", "SYSTEM_x", "EVENT_INDEX_x", "SECTION_x"],inplace = True)

In [ ]:
EVENT_JOIN_OPTIME_EVENT.rename(columns = {'SHIP_ID_y' : 'SHIP_ID', 'EVENT_INDEX_y':'EVENT_INDEX', 'SYSTEM_y' : 'SYSTEM', 'SECTION_y' : 'SECTION'}, inplace = True)

# 최종 테이블 생성 코드

In [ ]:
EVENT = pd.read_csv('/content/gdrive/MyDrive/DB/EVENT.csv')
OPTIME = pd.read_csv('/content/gdrive/MyDrive/DB/OPTIME.csv')
OPTIME_EVENT = pd.read_csv('/content/gdrive/MyDrive/DB/OPTIME_EVENT.csv')
EVENT['SECTION']=EVENT['SECTION'].astype('str')
EVENT['EVENT_INDEX'] = EVENT['EVENT_INDEX'].astype('str')
OPTIME_EVENT['SECTION']=OPTIME_EVENT['SECTION'].astype('str')
OPTIME_EVENT['EVENT_INDEX'] = OPTIME_EVENT['EVENT_INDEX'].astype('str')
EVENT['KEY']=EVENT['SHIP_ID']+"_"+ EVENT['SECTION']+"_"+ EVENT['EVENT_INDEX']
OPTIME_EVENT['KEY']=OPTIME_EVENT['SHIP_ID']+"_"+ OPTIME_EVENT['SECTION']+"_"+ OPTIME_EVENT['EVENT_INDEX']
EVENT_JOIN_OPTIME_EVENT = pd.merge(EVENT, OPTIME_EVENT, how = "inner", on = "KEY")
EVENT_JOIN_OPTIME_EVENT.drop(columns = ["SHIP_ID_x", "SYSTEM_x", "EVENT_INDEX_x", "SECTION_x"],inplace = True)
EVENT_JOIN_OPTIME_EVENT.rename(columns = {'SHIP_ID_y' : 'SHIP_ID', 'EVENT_INDEX_y':'EVENT_INDEX', 'SYSTEM_y' : 'SYSTEM', 'SECTION_y' : 'SECTION'}, inplace = True)