In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('../../../Work/techcross/csv/DATA.csv')
opt = pd.read_csv('../../../Work/techcross/csv/OPTIME.csv')

In [4]:
opt['key'] = opt['SHIP_ID'] + '_' + opt['SECTION'].astype(str) + '_' + opt['OP_INDEX'].astype(str)
opt['key'].value_counts()

T140110-00206_0_1       1
T20180614001_0_325      1
T140128-00703_0_327     1
T20180208001_0_327      1
T20180614001_0_327      1
                       ..
T20191119009_0_122      1
T20200113001_1_122      1
T20201209001_2_122      1
T20201210002_0_122      1
T140128-00703_0_1075    1
Name: key, Length: 10341, dtype: int64

In [5]:
data['key'] = data['SHIP_ID'] + '_' + data['SECTION'].astype(str) + '_' + data['OP_INDEX'].astype(str)
data['key'].value_counts()

T140110-00206_0_186    5620
T140110-00206_0_185    5590
T140110-00206_0_164    4570
T140110-00206_0_163    4570
T140110-00206_0_258    3192
                       ...
T20201209001_2_118        1
T20191119009_0_118        1
T20191014001_0_118        1
T20190324001_0_118        1
T20180614001_0_232        1
Name: key, Length: 9337, dtype: int64

In [6]:
opt.columns

Index(['SHIP_ID', 'SYSTEM', 'OP_INDEX', 'OP_TYPE', 'LINE', 'START_TIME',
       'END_TIME', 'RUNNING_TIME', 'VOLUME', 'TRO_AVG', 'ANU_AMOUNT', 'NORMAL',
       'LATITUDE', 'LONGITUDE', 'ALARM_COUNT', 'FAULT_COUNT', 'FAULT_CODE',
       'VOYAGE', 'TOTAL_POWER', 'FILE_INDEX', 'MODE', 'SECTION', 'REGION_ID',
       'STATE', 'key'],
      dtype='object')

In [7]:
opt = opt[['SHIP_ID', 'SECTION', 'LINE', 'OP_INDEX', 'START_TIME', 'END_TIME', 'RUNNING_TIME', 'key']]

In [8]:
data.columns

Index(['OP_INDEX', 'DATA_INDEX', 'DATA_TIME', 'CSU', 'STS', 'FTS', 'FMU',
       'TRO', 'ANU', 'RATE', 'CURRENT', 'VOLTAGE', 'TRO_COUNT', 'SHIP_ID',
       'SYSTEM', 'SECTION', 'key'],
      dtype='object')

In [9]:
data = data[['SHIP_ID', 'SECTION', 'OP_INDEX', 'DATA_INDEX', 'DATA_TIME', 'key']]

In [20]:
opt_d = pd.merge(data, opt, how='left', on='key')

In [22]:
opt_d['DATA_TIME'] = opt_d['DATA_TIME'].astype("datetime64")
opt_d['START_TIME'] = opt_d['START_TIME'].astype("datetime64")
opt_d['END_TIME'] = opt_d['END_TIME'].astype("datetime64")

In [27]:
opt_d.shape

(583072, 13)

In [33]:
opt_d[~(opt_d['DATA_TIME'] <= opt_d['END_TIME']) | ~(opt_d['DATA_TIME'] >= opt_d['START_TIME'])]

,SHIP_ID_x,SECTION_x,OP_INDEX_x,DATA_INDEX,DATA_TIME,key,SHIP_ID_y,SECTION_y,LINE,OP_INDEX_y,START_TIME,END_TIME,RUNNING_TIME
30,UnkownShip,2,1,1,2021-06-29 05:37:00,UnkownShip_2_1,NaN,NaN,NaN,NaN,NaT,NaT,NaN
57,UnkownShip,2,1,2,2021-06-29 05:38:00,UnkownShip_2_1,NaN,NaN,NaN,NaN,NaT,NaT,NaN
81,UnkownShip,2,1,3,2021-06-29 05:39:00,UnkownShip_2_1,NaN,NaN,NaN,NaN,NaT,NaT,NaN
102,UnkownShip,2,1,4,2021-06-29 05:40:00,UnkownShip_2_1,NaN,NaN,NaN,NaN,NaT,NaT,NaN
119,UnkownShip,2,1,5,2021-06-29 05:41:00,UnkownShip_2_1,NaN,NaN,NaN,NaN,NaT,NaT,NaN
134,UnkownShip,2,1,6,2021-06-29 05:42:00,UnkownShip_2_1,NaN,NaN,NaN,NaN,NaT,NaT,NaN
149,UnkownShip,2,1,7,2021-06-29 05:43:00,UnkownShip_2_1,NaN,NaN,NaN,NaN,NaT,NaT,NaN
164,UnkownShip,2,1,8,2021-06-29 05:44:00,UnkownShip_2_1,NaN,NaN,NaN,NaN,NaT,NaT,NaN
178,UnkownShip,2,1,9,2021-06-29 05:45:00,UnkownShip_2_1,NaN,NaN,NaN,NaN,NaT,NaT,NaN
192,UnkownShip,2,1,10,2021-06-29 05:46:00,UnkownShip_2_1,NaN,NaN,NaN,NaN,NaT,NaT,NaN
205,UnkownShip,2,1,11,2021-06-29 05:47:00,UnkownShip_2_1,NaN,NaN,NaN,NaN,NaT,NaT,NaN
455,UnkownShip,2,2,1,2021-06-30 06:02:00,UnkownShip_2_2,NaN,NaN,NaN,NaN,NaT,NaT,NaN
479,UnkownShip,2,2,2,2021-06-30 06:03:00,UnkownShip_2_2,NaN,NaN,NaN,NaN,NaT,NaT,NaN
501,UnkownShip,2,2,3,2021-06-30 06:04:00,UnkownShip_2_2,NaN,NaN,NaN,NaN,NaT,NaT,NaN
519,UnkownShip,2,2,4,2021-06-30 06:05:00,UnkownShip_2_2,NaN,NaN,NaN,NaN,NaT,NaT,NaN
777,UnkownShip,2,3,1,2021-06-30 06:02:00,UnkownShip_2_3,NaN,NaN,NaN,NaN,NaT,NaT,NaN
803,UnkownShip,2,3,2,2021-06-30 06:03:00,UnkownShip_2_3,NaN,NaN,NaN,NaN,NaT,NaT,NaN
826,UnkownShip,2,3,3,2021-06-30 06:04:00,UnkownShip_2_3,NaN,NaN,NaN,NaN,NaT,NaT,NaN
849,UnkownShip,2,3,4,2021-06-30 06:05:00,UnkownShip_2_3,NaN,NaN,NaN,NaN,NaT,NaT,NaN
1863,UnkownShip,2,4,1,2021-06-29 05:51:00,UnkownShip_2_4,NaN,NaN,NaN,NaN,NaT,NaT,NaN
1889,UnkownShip,2,4,2,2021-06-29 05:52:00,UnkownShip_2_4,NaN,NaN,NaN,NaN,NaT,NaT,NaN
1912,UnkownShip,2,4,3,2021-06-29 05:53:00,UnkownShip_2_4,NaN,NaN,NaN,NaN,NaT,NaT,NaN
1933,UnkownShip,2,4,4,2021-06-29 05:54:00,UnkownShip_2_4,NaN,NaN,NaN,NaN,NaT,NaT,NaN
1953,UnkownShip,2,4,5,2021-06-29 05:55:00,UnkownShip_2_4,NaN,NaN,NaN,NaN,NaT,NaT,NaN
1972,UnkownShip,2,4,6,2021-06-29 05:56:00,UnkownShip_2_4,NaN,NaN,NaN,NaN,NaT,NaT,NaN
1989,UnkownShip,2,4,7,2021-06-29 05:57:00,UnkownShip_2_4,NaN,NaN,NaN,NaN,NaT,NaT,NaN
2004,UnkownShip,2,4,8,2021-06-29 05:58:00,UnkownShip_2_4,NaN,NaN,NaN,NaN,NaT,NaT,NaN
2017,UnkownShip,2,4,9,2021-06-29 05:59:00,UnkownShip_2_4,NaN,NaN,NaN,NaN,NaT,NaT,NaN
2029,UnkownShip,2,4,10,2021-06-29 06:00:00,UnkownShip_2_4,NaN,NaN,NaN,NaN,NaT,NaT,NaN
2040,UnkownShip,2,4,11,2021-06-29 06:01:00,UnkownShip_2_4,NaN,NaN,NaN,NaN,NaT,NaT,NaN
2051,UnkownShip,2,4,12,2021-06-29 06:02:00,UnkownShip_2_4,NaN,NaN,NaN,NaN,NaT,NaT,NaN
3639,UnkownShip,2,5,1,2021-06-29 06:04:00,UnkownShip_2_5,NaN,NaN,NaN,NaN,NaT,NaT,NaN
3662,UnkownShip,2,5,2,2021-06-29 06:05:00,UnkownShip_2_5,NaN,NaN,NaN,NaN,NaT,NaT,NaN
3681,UnkownShip,2,5,3,2021-06-29 06:06:00,UnkownShip_2_5,NaN,NaN,NaN,NaN,NaT,NaT,NaN
26279,T20201210003,0,28,1,2021-07-31 02:28:00,T20201210003_0_28,T20201210003,0.0,1.0,28.0,2021-08-14 01:37:00,2021-08-14 02:27:00,2955.0
26302,T20201210003,0,28,2,2021-07-31 02:29:00,T20201210003_0_28,T20201210003,0.0,1.0,28.0,2021-08-14 01:37:00,2021-08-14 02:27:00,2955.0
26321,T20201210003,0,28,3,2021-07-31 02:30:00,T20201210003_0_28,T20201210003,0.0,1.0,28.0,2021-08-14 01:37:00,2021-08-14 02:27:00,2955.0
26338,T20201210003,0,28,4,2021-07-31 02:31:00,T20201210003_0_28,T20201210003,0.0,1.0,28.0,2021-08-14 01:37:00,2021-08-14 02:27:00,2955.0
26353,T20201210003,0,28,5,2021-07-31 02:32:00,T20201210003_0_28,T20201210003,0.0,1.0,28.0,2021-08-14 01:37:00,2021-08-14 02:27:00,2955.0
26367,T20201210003,0,28,6,2021-07-31 02:33:00,T20201210003_0_28,T20201210003,0.0,1.0,28.0,2021-08-14 01:37:00,2021-08-14 02:27:00,2955.0
26380,T20201210003,0,28,7,2021-07-31 02:34:00,T20201210003_0_28,T20201210003,0.0,1.0,28.0,2021-08-14 01:37:00,2021-08-14 02:27:00,2955.0
27343,T141027-00501,0,29,1,2021-06-25 21:43:00,T141027-00501_0_29,T141027-00501,0.0,2.0,29.0,2021-06-25 21:52:00,2021-06-25 22:01:00,535.0
27369,T141027-00501,0,29,2,2021-06-25 21:44:00,T141027-00501_0_29,T141027-00501,0.0,2.0,29.0,2021-06-25 21:52:00,2021-06-25 22:01:00,535.0
27392,T141027-00501,0,29,3,2021-06-25 21:45:00,T141027-00501_0_29,T141027-00501,0.0,2.0,29.0,2021-06-25 21:52:00,2021-06-25 22:01:00,535.0
27411,T141027-00501,0,29,4,2021-06-25 21:46:00,T141027-00501_0_29,T141027-00501,0.0,2.0,29.0,2021-06-25 21:52:00,2021-06-25 22:01:00,535.0
27428,T141027-00501,0,29,5,2021-06-25 21:47:00,T141027-00501_0_29,T141027-00501,0.0,2.0,29.0,2021-06-25 21:52:00,2021-06-25 22:01:00,535.0
27444,T141027-00501,0,29,6,2021-06-25 21:48:00,T141027-00501_0_29,T141027-00501,0.0,2.0,29.0,2021-06-25 21:52:00,2021-06-25 22:01:00,535.0
27460,T141027-00501,0,29,7,2021-06-25 21:49:00,T141027-00501_0_29,T141027-00501,0.0,2.0,29.0,2021-06-25 21:52:00,2021-06-25 22:01:00,535.0
27476,T141027-00501,0,29,8,2021-06-25 21:50:00,T141027-00501_0_29,T141027-00501,0.0,2.0,29.0,2021-06-25 21:52:00,2021-06-25 22:01:00,535.0
27491,T141027-00501,0,29,9,2021-06-25 21:51:00,T141027-00501_0_29,T141027-00501,0.0,2.0,29.0,2021-06-25 21:52:00,2021-06-25 22:01:00,535.0

In [36]:
#EVENT에서 확인
evt = pd.read_csv('../../../Work/techcross/csv/EVENT.csv')
opt_e = pd.read_csv('../../../Work/techcross/csv/OPTIME_EVENT.csv')

In [37]:
evt_opte = pd.merge(evt, opt_e, on=['SHIP_ID', 'SECTION', 'EVENT_INDEX'], how='left')

In [38]:
evt_opte.shape

(490241, 19)

In [39]:
evt.shape

(354534, 17)

In [40]:
evt_opt = pd.merge(evt_opte, opt, how='left', on=['SHIP_ID', 'SECTION', 'OP_INDEX'])

In [49]:
evt_opt.columns

Index(['SHIP_ID', 'SYSTEM_x', 'EVENT_INDEX', 'TAG_NAME', 'DEVICE_NAME',
       'OCCUR_TIME', 'M_CODE', 'ERR_CODE', 'DESCRIPT', 'VALUE', 'LOG_LEVEL',
       'ACK_TIME', 'RESET_TIME', 'ISCLEAR', 'SIMUL', 'FILE_INDEX', 'SECTION',
       'OP_INDEX', 'SYSTEM_y', 'LINE', 'START_TIME', 'END_TIME',
       'RUNNING_TIME', 'key'],
      dtype='object')

In [52]:
evt_opt[(evt_opt['SHIP_ID'] == 'T141027-00501')  & (evt_opt['OP_INDEX'] == '')]

Empty DataFrame
Columns: [SHIP_ID, SYSTEM_x, EVENT_INDEX, TAG_NAME, DEVICE_NAME, OCCUR_TIME, M_CODE, ERR_CODE, DESCRIPT, VALUE, LOG_LEVEL, ACK_TIME, RESET_TIME, ISCLEAR, SIMUL, FILE_INDEX, SECTION, OP_INDEX, SYSTEM_y, LINE, START_TIME, END_TIME, RUNNING_TIME, key]
Index: []

[0 rows x 24 columns]